{
  "openapi": "3.0.0",
  "info": {
    "title": "Culinary Nest API Documentation",
    "version": "1.0.0",
    "description": "Culinary Nest API Documentation",
    "contact": {
      "name": "Dimas Febriyanto - Nabila",
      "email": "dimassfeb@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://culinary-nest.vercel.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/users/register": {
      "post": {
        "summary": "Register",
        "description": "Create new user",
        "tags": ["Auth"],
        "operationId": "users.register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "User's name address"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "summary": "Login",
        "description": "Create new user",
        "tags": ["Auth"],
        "operationId": "users.login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/users/update": {
      "put": {
        "summary": "Update Data User",
        "description": "Update data User",
        "tags": ["Auth"],
        "operationId": "users.update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "User's name"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/products": {
      "post": {
        "summary": "Add products",
        "description": "Add products restaurants",
        "tags": ["Products"],
        "operationId": "products.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["title", "description", "price", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Update products",
        "description": "Update products restaurants",
        "tags": ["Products"],
        "operationId": "products.put",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["title", "description", "price", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "users": [
                    {
                      "id": 1,
                      "name": "John Doe"
                    },
                    {
                      "id": 2,
                      "name": "Jane Smith"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/products_photo": {
      "post": {
        "summary": "Add products photo",
        "description": "Add products photo restaurants",
        "tags": ["Products Photo"],
        "operationId": "products_photo.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "product_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "product_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "put": {
        "summary": "Update products photo",
        "description": "Update products photo restaurants",
        "tags": ["Products Photo"],
        "operationId": "products_photo.put",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "product_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "product_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/products_review": {
      "post": {
        "summary": "Add products Review",
        "description": "Add products Review",
        "tags": ["Products Review"],
        "operationId": "products_review.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "product_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "product_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "put": {
        "summary": "Update products Review",
        "description": "Update products Review",
        "tags": ["Products Review"],
        "operationId": "products_review.put",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "product_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "product_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/restaurants": {
      "post": {
        "summary": "Add restaurants",
        "description": "Add restaurants",
        "tags": ["Restaurants"],
        "operationId": "restaurants.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "category_restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["title", "description", "address", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "put": {
        "summary": "Update restaurants",
        "description": "Update restaurants",
        "tags": ["Restaurants"],
        "operationId": "restaurants.put",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "category_restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["title", "description", "address", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "200": {
        "description": "Status OK",
        "content": {
          "application/json": {
            "example": {
              "success": true
            }
          }
        }
      },
      "400": {
        "description": "Status Bad Request",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "message": "Payload is required."
            }
          }
        }
      },
      "404": {
        "description": "Status Not Found",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "message": "Data not found."
            }
          }
        }
      }
    }
  }
}
