{
  "openapi": "3.0.0",
  "info": {
    "title": "Culinary Nest API Documentation",
    "version": "1.0.0",
    "description": "Culinary Nest API Documentation",
    "contact": {
      "name": "Dimas Febriyanto - Nabila",
      "email": "dimassfeb@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://culinary-nest.vercel.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/users/register": {
      "post": {
        "summary": "Register",
        "description": "Create new user",
        "tags": ["Auth"],
        "operationId": "users.register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "User's name address"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "summary": "Login",
        "description": "Create new user",
        "tags": ["Auth"],
        "operationId": "users.login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/users/update": {
      "put": {
        "summary": "Update Data User",
        "description": "Update data User",
        "tags": ["Auth"],
        "operationId": "users.update",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "User's name"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/products": {
      "post": {
        "summary": "Add products",
        "description": "Add products restaurants",
        "tags": ["Products"],
        "operationId": "products.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["title", "description", "price", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "get": {
        "summary": "Get all data products",
        "description": "Get all data products restaurants",
        "tags": ["Products"],
        "operationId": "products.get",
        "responses": {
          "200": {
            "description": "Status OK",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "title": "Sate Ayam Kecap",
                      "description": "Sate ayam kecap enak..",
                      "price": 20000,
                      "restaurant_id": 1
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Get products by id",
        "description": "Get all data products restaurants",
        "tags": ["Products"],
        "operationId": "products.byid.get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The products number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status OK",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "title": "Sate Ayam Kecap",
                    "description": "Sate ayam kecap enak..",
                    "price": 20000,
                    "restaurant_id": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "put": {
        "summary": "Update products",
        "description": "Update products restaurants",
        "tags": ["Products"],
        "operationId": "products.put",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The products number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["title", "description", "price", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "delete": {
        "summary": "Delete a product",
        "description": "Deletes a product",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The products number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/products_photo": {
      "post": {
        "summary": "Add products photo",
        "description": "Add products photo restaurants",
        "tags": ["Products Photo"],
        "operationId": "products_photo.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "product_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "product_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/products_photo/{id}": {
      "put": {
        "summary": "Update products photo",
        "description": "Update products photo restaurants",
        "tags": ["Products Photo"],
        "operationId": "products_photo.put",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],

        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "product_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "product_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "get": {
        "summary": "Get products photo",
        "description": "Get products photo restaurant",
        "tags": ["Products Photo"],
        "operationId": "products_photo.get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The products number to get all photos.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status OK",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    "https://google.com/image.png",
                    "https://google.com/image2.png"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a products photo",
        "description": "Deletes a products photo",
        "tags": ["Products Photo"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The products photo number to delete.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          }
        }
      }
    },
    "/products_review": {
      "post": {
        "summary": "Add products Review",
        "description": "Add products Review",
        "tags": ["Products Review"],
        "operationId": "products_review.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number",
                    "example": 4.5
                  },
                  "product_id": {
                    "type": "number"
                  },
                  "user_id": {
                    "type": "number"
                  }
                },
                "required": [
                  "title",
                  "content",
                  "rating",
                  "product_id",
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/products_review/{id}": {
      "put": {
        "summary": "Update products Review",
        "description": "Update products Review",
        "tags": ["Products Review"],
        "operationId": "products_review.put",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The products review number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number",
                    "example": 4.5
                  },
                  "product_id": {
                    "type": "number"
                  },
                  "user_id": {
                    "type": "number"
                  }
                },
                "required": [
                  "title",
                  "content",
                  "rating",
                  "product_id",
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "get": {
        "summary": "Get data products Review",
        "description": "Get data products Review",
        "tags": ["Products Review"],
        "operationId": "products_review.get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The product review number to retrive.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "title": "Enak banget",
                          "content": "Dagingnya empuk dan lezat",
                          "rating": 4.5,
                          "product_id": 5,
                          "user_id": 10
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Delete a products Review",
        "description": "Deletes a products Review",
        "tags": ["Products Review"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The product review number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/products_review_photo": {
      "post": {
        "summary": "Add products Review photo",
        "description": "Add products Review photo",
        "tags": ["Products Review Photo"],
        "operationId": "products_review_photo.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "products_review_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "products_review_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/products_review_photo/{id}": {
      "put": {
        "summary": "Update products Review photo",
        "description": "Update products Review photo",
        "tags": ["Products Review Photo"],
        "operationId": "products_review_photo.put",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "products_review_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "products_review_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "get": {
        "summary": "Get all data products Review Photo",
        "description": "Get all data products Review Photo",
        "tags": ["Products Review Photo"],
        "operationId": "products_review_photo.get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The product review number to retrive.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        "https://google.com/image.png",
                        "https://google.com/image2.png"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Delete a products Review photo",
        "description": "Deletes a products Review photo",
        "tags": ["Products Review Photo"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/restaurants": {
      "post": {
        "summary": "Add restaurants",
        "description": "Add restaurants",
        "tags": ["Restaurants"],
        "operationId": "restaurants.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "open": {
                    "type": "string"
                  },
                  "closed": {
                    "type": "string"
                  },
                  "category_restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "address",
                  "open",
                  "closed",
                  "restaurant_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "get": {
        "summary": "Get all data Restaurants",
        "description": "Get all data Restaurants",
        "tags": ["Restaurants"],
        "operationId": "restaurants.get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "title": "Warung Pak Wardi",
                        "description": "Warung Pak Wardi is ...",
                        "address": "Jl Kusuma",
                        "open": "string",
                        "closed": "datetime",
                        "restaurant_id": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/restaurants/{id}": {
      "get": {
        "summary": "Get restaurants by id",
        "description": "Get restaurants by id",
        "tags": ["Restaurants"],
        "operationId": "restaurants.byid.get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "title": "Warung Pak Wardi",
                      "description": "Warung Pak Wardi is ...",
                      "address": "Jl Kusuma",
                      "open": "string",
                      "closed": "datetime",
                      "restaurant_id": 1
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update restaurants",
        "description": "Update restaurants",
        "tags": ["Restaurants"],
        "operationId": "restaurants.put",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "open": {
                    "type": "string"
                  },
                  "closed": {
                    "type": "string"
                  },
                  "category_restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "address",
                  "open",
                  "closed",
                  "restaurant_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/400"
          }
        }
      },

      "delete": {
        "summary": "Delete a restaurant",
        "description": "Deletes a restaurant",
        "tags": ["Restaurants"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/restaurants_photo": {
      "post": {
        "summary": "Add restaurants photo",
        "description": "Add restaurants photo",
        "tags": ["Restaurants Photo"],
        "operationId": "restaurants_photo.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "get": {
        "summary": "Get restaurant photo",
        "description": "Get all data restaurants photo",
        "tags": ["Restaurants Photo"],
        "operationId": "restaurants_photo.get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/restaurants_photo/{id}": {
      "put": {
        "summary": "Update restaurants photo",
        "description": "Update restaurants photo",
        "tags": ["Restaurants Photo"],
        "operationId": "restaurants_photo.put",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "restaurant_id": {
                    "type": "integer"
                  }
                },
                "required": ["image_url", "restaurant_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Delete a restaurants photo",
        "description": "Deletes a restaurants photo",
        "tags": ["Restaurants Photo"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The restaurant photo number to delete.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/restaurants_category": {
      "post": {
        "summary": "Add restaurants category",
        "description": "Add restaurants category",
        "tags": ["Restaurants Category"],
        "operationId": "restaurants_category.post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                },
                "required": ["title"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "get": {
        "summary": "Get data restaurant by category",
        "description": "Get all data Restaurants by category",
        "tags": ["Restaurants Category"],
        "operationId": "restaurants_category.get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 1,
                          "title": "Restaurants"
                        },
                        {
                          "id": 2,
                          "title": "Cafe"
                        }
                      ]
                    }
                  },
                  "required": ["title"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/restaurants_category/{id}": {
      "put": {
        "summary": "Update restaurants category",
        "description": "Update restaurants category",
        "tags": ["Restaurants Category"],
        "operationId": "restaurants_category.put",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                },
                "required": ["title"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Delete a restaurants category",
        "description": "Deletes a restaurants category",
        "tags": ["Restaurants Category"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The user number to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "200": {
        "description": "Status OK",
        "content": {
          "application/json": {
            "example": {
              "success": true
            }
          }
        }
      },
      "400": {
        "description": "Status Bad Request",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "message": "Payload is required."
            }
          }
        }
      },
      "404": {
        "description": "Status Not Found",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "message": "Data not found."
            }
          }
        }
      },
      "409": {
        "description": "Status Conflict",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "message": "Data already registered."
            }
          }
        }
      }
    }
  }
}
